<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.wanderlust.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb219219838149802</string>
			</array>
		</dict>
	</array>
	<key>Languages</key>
	<dict>
		<key>cmn</key>
		<string>Mandarin</string>
		<key>hin</key>
		<string>Hindi</string>
		<key>spa</key>
		<string>Spanish</string>
		<key>eng</key>
		<string>English</string>
		<key>ara</key>
		<string>Arabic</string>
		<key>por</key>
		<string>Portuguese</string>
		<key>ben</key>
		<string>Bengali</string>
		<key>rus</key>
		<string>Russian</string>
		<key>jpn</key>
		<string>Japanese</string>
		<key>deu</key>
		<string>German</string>
		<key>pan</key>
		<string>Panjabi</string>
		<key>ind</key>
		<string>Javanese</string>
		<key>kor</key>
		<string>Korean</string>
		<key>vie</key>
		<string>Vietnamese</string>
		<key>tel</key>
		<string>Telugu</string>
		<key>mar</key>
		<string>Marathi</string>
		<key>tam</key>
		<string>Tamil</string>
		<key>fra</key>
		<string>French</string>
		<key>urd</key>
		<string>Urdu</string>
		<key>ita</key>
		<string>Italian</string>
		<key>tur</key>
		<string>Turkish</string>
		<key>fas</key>
		<string>Persian</string>
		<key>guj</key>
		<string>Gujarati</string>
		<key>pol</key>
		<string>Polish</string>
		<key>ukr</key>
		<string>Ukrainian</string>
		<key>mal</key>
		<string>Malayalam</string>
		<key>kan</key>
		<string>Kannada</string>
		<key>ori</key>
		<string>Oriya</string>
		<key>mya</key>
		<string>Burmese</string>
		<key>tha</key>
		<string>Thai</string>
	</dict>
</dict>
</plist>
